html, body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: Regular;
  background-color: #f8f8f8;
}

a {
  display: inline-block;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
}

.bagian1 h2 {
  font-size: 32px;
  margin-top: 100px;
  margin-bottom: 15px;
}

.bagian1 #kir {
  float: left;
  margin-top: 50px;
}

.bagian1 #ten {
  margin-top: 50px !important;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}

.bagian1 #kan {
  float: left;
  margin-top: 50px !important;
}

.bagian1 a {
  text-decoration: none;
  color: #2680EB;
}

.bagian1 h4:hover {
  border-bottom: 2px solid #2680EB;
  padding-bottom: 10px;
}

.bagian2 {
  margin-bottom: 1100px;
}

.bagian2 .berita:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 40px;
  -webkit-box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
}

.bagian2 .berita {
  margin-top: 50px;
  width: 32%;
  float: left;
}

.bagian2 .berita h2 {
  font-size: 22px;
  margin-top: 15px;
  line-height: 25px;
}

.bagian2 .berita img {
  width: 100%;
}

.bagian2 .berita p {
  font-size: 15px;
  line-height: 23px;
  color: #777777;
  text-align: justify;
  margin-top: 14px;
}

.bagian2 .berita .basel {
  width: 136.3px;
  height: 37.58px;
  background: #2680EB;
  border: 1px solid #2680EB;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  margin-top: 14px;
}

.bagian2 .basel:hover {
  opacity: 0.4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bagian2 .berita2 {
  margin-top: 50px;
  width: 32%;
  float: left;
  margin-left: 20px;
}

.bagian2 .berita2 h2 {
  font-size: 22px;
  margin-top: 15px;
  line-height: 25px;
}

.bagian2 .berita2 img {
  width: 100%;
}

.bagian2 .berita2 p {
  font-size: 15px;
  line-height: 23px;
  color: #777777;
  text-align: justify;
  margin-top: 14px;
}

.bagian2 .berita2 .basel {
  width: 136.3px;
  height: 37.58px;
  background: #2680EB;
  border: 1px solid #2680EB;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  margin-top: 14px;
}

.bagian2 .berita3 {
  margin-top: 50px;
  width: 32%;
  float: left;
  margin-left: 20px;
}

.bagian2 .berita3 h2 {
  font-size: 22px;
  margin-top: 15px;
  line-height: 25px;
}

.bagian2 .berita3 img {
  width: 100%;
}

.bagian2 .berita3 p {
  font-size: 15px;
  line-height: 23px;
  color: #777777;
  text-align: justify;
  margin-top: 14px;
}

.bagian2 .berita3 .basel {
  width: 136.3px;
  height: 37.58px;
  background: #2680EB;
  border: 1px solid #2680EB;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  margin-top: 14px;
}

.bagian2 .berita4 {
  margin-top: 528px;
  width: 32%;
  float: left;
  margin-left: -1192px;
}

.bagian2 .berita4 h2 {
  font-size: 22px;
  margin-top: 15px;
  line-height: 25px;
}

.bagian2 .berita4 img {
  width: 100%;
}

.bagian2 .berita4 p {
  font-size: 15px;
  line-height: 23px;
  color: #777777;
  text-align: justify;
  margin-top: 14px;
}

.bagian2 .berita4 .basel {
  width: 136.3px;
  height: 37.58px;
  background: #2680EB;
  border: 1px solid #2680EB;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  margin-top: 14px;
}

.bagian2 .berita5 {
  margin-top: 50px;
  width: 32%;
  float: left;
  margin-left: 400px;
}

.bagian2 .berita5 h2 {
  font-size: 22px;
  margin-top: 15px;
  line-height: 25px;
}

.bagian2 .berita5 img {
  width: 100%;
}

.bagian2 .berita5 p {
  font-size: 15px;
  line-height: 23px;
  color: #777777;
  text-align: justify;
  margin-top: 14px;
}

.bagian2 .berita5 .basel {
  width: 136.3px;
  height: 37.58px;
  background: #2680EB;
  border: 1px solid #2680EB;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  margin-top: 14px;
}

.bagian2 .berita6 {
  margin-top: 50px;
  width: 32%;
  float: left;
  margin-left: 20px;
}

.bagian2 .berita6 h2 {
  font-size: 22px;
  margin-top: 15px;
  line-height: 25px;
}

.bagian2 .berita6 img {
  width: 100%;
}

.bagian2 .berita6 p {
  font-size: 15px;
  line-height: 23px;
  color: #777777;
  text-align: justify;
  margin-top: 14px;
}

.bagian2 .berita6 .basel {
  width: 136.3px;
  height: 37.58px;
  background: #2680EB;
  border: 1px solid #2680EB;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  margin-top: 14px;
}

.bagian2 .berita6 .berita:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 20px;
  -webkit-box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
}

.bagian2 .berita6 .berita2:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 30px;
  -webkit-box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
}

.bagian2 .berita6 .berita3:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 30px;
  -webkit-box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
}

.basel {
  cursor: pointer;
}

#nav-open {
  display: inline;
  margin-top: 50px;
  width: 30px;
  height: 25px;
  margin-left: 590px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  float: left;
}

#nav-open p {
  margin-top: 10px;
  margin-left: -5px;
}

#nav-open span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #2680EB;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-open span:nth-child(1) {
  top: 0px;
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
  -webkit-transition: 1s;
  transition: 1s;
  margin-bottom: -100px;
}

#nav-open span:nth-child(2) {
  top: 0px;
  margin-left: 15px;
  -webkit-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
  -webkit-transition: 1s;
  transition: 1s;
  margin-bottom: -100px;
}

#nav-open.open span:nth-child(1) {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

#nav-open.open span:nth-child(2) {
  background-repeat: red;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.menu-hide1 {
  width: 100%;
  height: 0;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

.menu-hide1-active {
  height: 1000px;
  margin-left: 0px;
  margin-top: -200px !important;
  -webkit-transition: 1s;
  transition: 1s;
  margin-bottom: 100px;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 1000px;
  }
  .bagian1 {
    margin-left: 35px;
  }
  .bagian2 {
    margin-left: 35px;
  }
  .bagian2 .berita {
    width: 47%;
  }
  .bagian2 .berita2 {
    width: 47%;
  }
  .bagian2 .berita3 {
    display: none;
  }
  .bagian2 .berita4 {
    width: 47%;
    margin-left: 0px;
    margin-top: 50px;
  }
  .bagian2 .berita5 {
    width: 47%;
    margin-left: 20px;
    margin-top: 50px;
  }
  .bagian2 .berita6 {
    display: none;
  }
  .bagian2 #nav-open svg {
    margin-left: -125px;
    margin-top: -15px;
  }
  .menu-hide1-active {
    height: 1100px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 700px;
  }
  .bagian1 {
    margin-left: 35px;
  }
  .bagian2 {
    margin-left: 35px;
  }
  .bagian2 .berita {
    width: 47%;
  }
  .bagian2 .berita2 {
    width: 47%;
  }
  .bagian2 .berita3 {
    display: none;
  }
  .bagian2 .berita4 {
    width: 47%;
    margin-left: 0px;
    margin-top: 50px;
  }
  .bagian2 .berita5 {
    width: 47%;
    margin-left: 20px;
    margin-top: 50px;
  }
  .bagian2 .berita6 {
    display: none;
  }
  .bagian2 #nav-open svg {
    margin-left: -248px;
    margin-top: -15px;
  }
  .menu-hide1 .berita4 {
    margin-left: -710px;
    margin-top: 500px;
  }
  .menu-hide1-active {
    height: 950px;
  }
}

@media screen and (max-width: 360px) {
  .container {
    max-width: 300px;
  }
  .bagian1 {
    margin-left: 35px;
  }
  .bagian1 h2 {
    font-size: 22px;
  }
  .bagian1 h4 {
    font-size: 15px;
    margin-left: 10px;
  }
  .bagian2 {
    margin-left: 35px;
  }
  .bagian2 .berita {
    width: 90%;
  }
  .bagian2 .berita2 {
    width: 90%;
    margin-left: 0px;
  }
  .bagian2 .berita3 {
    display: none;
  }
  .bagian2 .berita4 {
    width: 90%;
    margin-left: 0px;
    margin-top: 50px;
  }
  .bagian2 .berita5 {
    width: 90%;
    margin-left: 0px;
    margin-top: 50px;
  }
  .bagian2 .berita6 {
    display: none;
  }
  .bagian2 #nav-open svg {
    margin-left: -450px;
    margin-top: -15px;
  }
  .menu-hide1 .berita4 {
    margin-left: -710px;
    margin-top: 500px;
  }
  .menu-hide1-active {
    height: 1350px;
  }
}
