html, body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: Regular;
}

a {
  display: inline-block;
  color: #2680EB;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Regular;
  src: url("../font/WorkSans-Regular.ttf");
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.wrapp {
  margin-top: 67px;
}

.wrapp h2 {
  font-size: 30px;
  margin-bottom: 14px;
  margin-left: 0px;
}

.wrapp p {
  font-size: 15px;
  margin-bottom: 35px;
  margin-left: 0px;
}

.wrapp a {
  text-decoration: none;
}

.masuk .lgkiri input {
  width: 200px;
  height: 55px;
  border-radius: 5px;
  border: 1px solid #D2D2D2;
  font-size: 15px;
  padding-left: 20px;
}

.masuk .lgkiri input::-webkit-input-placeholder {
  position: relative;
  font-size: 15px;
  color: #0009;
  padding-left: -10px;
  border: none;
}

.masuk .lgkiri input:hover::-webkit-input-placeholder {
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-left: 20px;
  color: #0009;
}

.masuk .lgkanan input {
  width: 200px;
  height: 55px;
  border-radius: 5px;
  border: 1px solid #D2D2D2;
  padding-left: 20px;
  font-size: 15px;
  margin-left: 235px;
  margin-top: -57px !important;
  float: left;
}

.masuk .lgkanan input::-webkit-input-placeholder {
  position: relative;
  font-size: 15px;
  color: #0009;
  padding-left: -10px;
  border: none;
}

.masuk .lgkanan input:hover::-webkit-input-placeholder {
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-left: 20px;
  color: #0009;
}

.masuk .email input {
  width: 43.5%;
  height: 55px;
  border-radius: 5px;
  border: 1px solid #D2D2D2;
  font-size: 15px;
  padding-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.masuk .email input::-webkit-input-placeholder {
  position: relative;
  font-size: 15px;
  color: #0009;
  padding-left: -10px;
  border: none;
}

.masuk .email input:hover::-webkit-input-placeholder {
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-left: 20px;
  color: #0009;
}

.masuk .pswrd input {
  width: 43.5%;
  height: 55px;
  border-radius: 5px;
  border: 1px solid #D2D2D2;
  font-size: 15px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.masuk .pswrd input::-webkit-input-placeholder {
  position: relative;
  font-size: 15px;
  color: #0009;
  padding-left: -10px;
  border: none;
}

.masuk .pswrd input:hover::-webkit-input-placeholder {
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-left: 20px;
  color: #0009;
}

.masuk .Kpswrd input {
  width: 43.5%;
  height: 55px;
  border-radius: 5px;
  border: 1px solid #D2D2D2;
  font-size: 15px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.masuk .Kpswrd input::-webkit-input-placeholder {
  position: relative;
  font-size: 15px;
  color: #0009;
  padding-left: -10px;
  border: none;
}

.masuk .Kpswrd input:hover::-webkit-input-placeholder {
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-left: 20px;
  color: #0009;
}

.masuk button {
  width: 155px;
  height: 55px;
  border-radius: 5px;
  border: 1px solid #2680EB;
  background: #2680EB;
  font-size: 15px;
  cursor: pointer;
  color: white;
}

.masuk .atau {
  color: #525252;
  margin-top: 20px;
}

.masuk .g {
  width: 25px;
  height: 25px;
  float: left;
  margin-top: -70px;
  margin-left: 160px;
}

.masuk .f {
  width: 25px;
  height: 25px;
  float: left;
  margin-top: -70px;
  margin-left: 195px;
}

img {
  float: right;
  width: 583px;
  height: 100vh;
  margin-top: -624px;
  position: relative;
  margin-right: -194px;
}

.sha {
  margin-right: -584px;
}

@media screen and (max-width: 1024px) {
  .wrapp {
    margin-left: 90px;
  }
  img {
    height: 100vh;
    width: 450px;
    margin-right: -50px;
  }
  .sha {
    margin-right: -450px;
  }
  .masuk .email input {
    width: 46.5%;
  }
  .masuk .pswrd input {
    width: 46.5%;
  }
  .masuk .Kpswrd input {
    width: 46.5%;
  }
  .masuk .f {
    margin-left: 60px;
  }
}

@media screen and (max-width: 768px) {
  img {
    display: none;
  }
  .wrapp {
    margin-left: 150px;
  }
  .masuk .email input {
    width: 70.5%;
  }
  .masuk .pswrd input {
    width: 70.5%;
  }
  .masuk .Kpswrd input {
    width: 70.5%;
  }
  .masuk .f {
    display: inline;
  }
  .masuk .g {
    display: inline;
  }
}

@media screen and (max-width: 360px) {
  .wrapp {
    margin-left: 20px;
  }
  .masuk .lgkiri input {
    width: 40%;
  }
  .masuk .lgkanan input {
    width: 40%;
    margin-left: 163px;
  }
  .masuk .email input {
    width: 88%;
  }
  .masuk .pswrd input {
    width: 88%;
  }
  .masuk .Kpswrd input {
    width: 88%;
  }
}
