html, body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: Regular;
}

a {
  display: inline-block;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Regular;
  src: url("../font/WorkSans-Regular.ttf");
}

@font-face {
  font-family: work-bold;
  src: url("../font/WorkSans-Bold.ttf");
}

.active {
  padding-bottom: 4px;
  border-bottom: 2px solid #2680EB;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  color: #2680EB;
  position: fixed;
  font-size: 15px semibold;
  width: 100%;
  z-index: +100000;
}

header #ikon {
  float: left;
  position: absolute;
  margin-left: -350px;
  margin-top: -50px;
}

header .navbar {
  background: white;
  width: 100%;
  height: 65px;
}

header #nav-icon1 {
  display: none;
  margin-top: 12px;
  width: 30px;
  height: 25px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  float: right;
}

header #nav-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

header #nav-icon1 span:nth-child(1) {
  top: 0px;
}

header #nav-icon1 span:nth-child(2) {
  top: 10px;
}

header #nav-icon1 span:nth-child(3) {
  top: 20px;
}

header #nav-icon1.open span:nth-child(1) {
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  margin-top: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #000;
}

header #nav-icon1.open span:nth-child(2) {
  display: none;
}

header #nav-icon1.open span:nth-child(3) {
  -webkit-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  transform: rotate(-40deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: -10px;
  background: #000;
}

header .menu-hide {
  width: 100%;
  height: 0;
  overflow: hidden;
  background: #fff;
  -webkit-transition: 1s;
  transition: 1s;
}

header .menu-hide a {
  color: blue;
}

header .menu-hide li {
  width: 100% !important;
  float: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
}

header .menu-hide .login {
  float: left;
  left: 0 !important;
  text-align: left;
}

header .menu-hide .login a {
  float: left;
  padding-left: 5px !important;
  text-align: left;
  color: #000;
}

header ul {
  list-style: none;
  margin: 0;
  margin-left: 350px;
}

header li {
  float: left;
  padding-left: 35px;
  margin-top: 20px;
}

header a {
  text-decoration: none;
  color: #2680EB;
}

header a:hover {
  padding-bottom: 4px;
  border-bottom: 2px solid #2680EB;
}

header .none:hover {
  border-bottom: none;
  margin-bottom: -4px;
}

header .bendera {
  width: 22px;
  margin-top: 19px;
  margin-left: -50px;
  cursor: pointer;
}

header .ind {
  margin-top: 18.5px;
  margin-left: 44px;
  float: left;
  cursor: pointer;
}

header .panah {
  width: 10px;
  margin-top: -38px;
  margin-right: 190px;
  float: right;
}

header .masuk {
  border-radius: 5px;
  border: 1px solid #2680EB;
  background: none;
  width: 86px;
  height: 35px;
  color: #2680EB;
  float: left;
  margin-top: -45px;
  margin-left: 754px;
  cursor: pointer;
}

header .masuk:hover {
  background-color: #2680EB;
  border: 1px solid #2680EB;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
}

#dad {
  margin-top: -64px !important;
}

.menu-hiden {
  width: 5%;
  height: 0;
  overflow: hidden;
  background: whitesmoke;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-left: 660px;
  margin-top: -20px;
  position: absolute;
}

.menu-hiden img {
  margin-left: 7px;
  margin-top: 5px;
  cursor: pointer;
}

.menu-hiden .en {
  color: #2680EB;
  margin-left: 30px;
  margin-top: -23px;
  cursor: pointer;
}

.menu-hiden-active {
  height: 30px;
  margin-left: 660px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 5px;
}

.menu-hiden-active img {
  margin-left: 7px;
  margin-top: 5px;
}

footer {
  height: 200px;
  color: white;
  background: #2680EB;
  width: 100%;
  height: 329px;
}

footer img {
  float: left;
  margin-left: -1130px;
  margin-top: 100px;
  width: 150px;
}

footer #tujuan {
  width: 30%;
  font-size: 14px;
  text-align: justify;
  margin-left: 40px;
  margin-top: 130px;
  margin-right: -400px;
  float: left;
}

footer h1 {
  font-size: 20px;
}

footer p {
  font-size: 16px;
  padding-top: 16px;
}

footer .kiri1 {
  float: left;
  margin-top: 100px;
  margin-left: 450px;
  margin-right: 70px;
}

footer .kiri {
  float: left;
  margin-top: 100px;
  margin-right: 70px;
}

footer .tengah {
  float: left;
  margin-top: 100px;
  margin-right: 70px;
}

footer .kanan {
  float: left;
  margin-top: 100px;
}

footer a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 1200px;
  }
  header {
    width: 100%;
  }
  header ul {
    margin-left: 250px;
  }
  header #ikon {
    margin-top: -45px;
    margin-left: -215px;
    width: 160px;
  }
  header .ind {
    margin-left: 602px;
    margin-top: -25px;
  }
  header .menu-hiden {
    width: 6%;
    height: 0;
    overflow: hidden;
    background: #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-left: 575px;
    margin-top: -5px;
    position: absolute;
  }
  header .menu-hiden img {
    margin-left: 7px;
    margin-top: 5px;
    cursor: pointer;
  }
  header .menu-hiden .en {
    color: blue;
    margin-left: 30px;
    margin-top: -23px;
    cursor: pointer;
  }
  header .menu-hiden-active {
    height: 30px;
    margin-left: 575px;
    margin-right: 100px;
    position: absolute;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 5px;
  }
  header .menu-hiden-active img {
    margin-left: 7px;
    margin-top: 5px;
  }
  header .masuk {
    margin-left: 645px;
    margin-top: -46px;
  }
  header li {
    float: left;
    padding-left: 20px;
    margin-top: 20px;
  }
  header .bendera {
    margin-left: 10px;
    margin-top: 20px;
  }
  footer img {
    margin-left: -940px;
  }
  footer .kiri1 {
    float: left;
    margin-top: 100px;
    margin-left: 380px;
  }
  footer .kiri {
    float: left;
    margin-left: -40px;
    margin-top: 100px;
  }
  footer .tengah {
    float: left;
    margin-left: -40px;
    margin-top: 100px;
  }
  footer .kanan {
    margin-top: 100px;
    margin-left: -40px;
  }
}

@media screen and (max-width: 768px) {
  header {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed !important;
    width: 100%;
  }
  header .menu-hiden {
    width: 6%;
    height: 0;
    overflow: hidden;
    background: whitesmoke;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin-left: 434px;
    margin-top: -5px;
    position: absolute;
  }
  header .menu-hiden img {
    margin-left: 7px;
    margin-top: 5px;
    cursor: pointer;
  }
  header .menu-hiden .en {
    color: blue;
    margin-left: 30px;
    margin-top: -23px;
    cursor: pointer;
  }
  header .menu-hiden-active {
    height: 30px;
    margin-left: 434px;
    margin-right: 100px;
    position: absolute;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 5px;
  }
  header .menu-hiden-active img {
    margin-left: 7px;
    margin-top: 5px;
  }
  header ul {
    margin-left: 25px;
    font-size: 12px;
  }
  header li {
    float: left;
    padding-left: 15px;
    margin-top: 20px;
  }
  header .bendera {
    margin-top: 26px;
  }
  header .ind {
    margin-left: 460px;
    margin-top: -21px;
  }
  header .masuk {
    margin-left: 500px;
    margin-top: -41px;
  }
  header .navbar {
    height: 55px;
  }
  header .garis {
    margin-top: 10px !important;
  }
  header .log {
    margin-top: -65px;
    margin-left: 80px;
  }
  header .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 auto;
  }
  header #ikon {
    margin-left: -135px;
    margin-top: -40px;
    width: 120px;
  }
  footer {
    height: 320px;
  }
  footer img {
    margin-left: 40px;
    margin-top: 50px;
  }
  footer #tujuan {
    margin-top: 80px;
  }
  footer .kiri1 {
    width: 100%;
    float: left;
    margin-top: -35px;
    margin-left: 300px;
  }
  footer .kiri {
    float: left;
    margin-top: -166px;
    margin-left: 450px;
  }
  footer .tengah {
    float: left;
    margin-top: 10px;
    margin-left: 300px;
  }
  footer .a2 {
    margin-left: 150px;
    margin-top: -33px;
  }
  footer .kanan {
    margin-top: -235px;
    margin-left: 600px;
  }
}

@media screen and (max-width: 360px) {
  header #ikon {
    display: inline;
    position: absolute;
    margin-left: -30px;
    margin-top: 0px;
    width: 150px;
  }
  header #nav-icon1 {
    display: block;
    float: right;
    margin-right: 15px !important;
    margin-top: -39px;
    height: 40px;
  }
  header .menu-hide {
    margin-top: 0px;
    margin-left: -1000px;
    display: block;
    width: 70%;
  }
  header .menu-hide-active {
    height: 285px;
    margin-left: 0px;
    -webkit-transition: 1s;
    transition: 1s;
  }
  header .menu-hide li {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid whitesmoke;
    width: 100%;
    font-size: 15px;
    font-weight: 1px;
  }
  header .menu-hide a {
    color: #000;
  }
  header .container {
    max-width: 300px;
    margin: 0 auto;
    padding: 0 auto;
  }
  header #nav-icon1 {
    display: block;
    float: right;
    margin-right: -10px;
    height: 40px;
  }
  header .login {
    float: left;
    margin-left: -31px;
  }
  header .login li {
    border-bottom: none;
  }
  header .tenga {
    margin-top: -18px;
    margin-left: 30px;
  }
  header .teng {
    margin-top: -20px;
    margin-left: 50px;
  }
  header .kir {
    margin-top: -6px !important;
  }
  header .navbar ul li {
    display: none;
  }
  footer {
    height: 780px;
  }
  footer img {
    margin-top: 50px;
  }
  footer #tujuan {
    margin-top: 75px;
    width: 80%;
    text-align: left;
  }
  footer .kiri1 {
    margin-left: 40px;
    margin-top: 110px;
  }
  footer .kiri {
    margin-left: 40px;
    margin-top: 10px;
  }
  footer .tengah {
    margin-left: 40px;
  }
  footer .tengah .a2 {
    margin-left: 0px;
    margin-top: 5px;
  }
  footer .kanan {
    margin-left: 40px;
    margin-top: 20px;
  }
}
