html, body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #f8f8f8;
}

a {
  display: inline-block;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
}

.sear h2 {
  font-size: 32px;
  margin-bottom: 15px;
  margin-top: 100px;
}

.bagian1 {
  margin-top: 20px;
  margin-bottom: 300px;
}

.bagian1 h3 {
  font-size: 32px;
  margin-bottom: 15px;
}

.bagian1 h4 {
  font-size: 22px;
  margin-top: 20px;
}

.bagian1 p {
  font-size: 15px;
  color: #777777;
  line-height: 23px;
}

.bagian1 a {
  text-decoration: none;
  color: #000;
}

.bagian1 .one {
  margin-top: 40px;
  margin-right: 20px;
  border-radius: 3px;
  float: left;
  width: 385px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.bagian1 .one img {
  width: 385px;
  border-radius: 3px;
}

.bagian1 .one h4 {
  margin-top: 20px;
  margin-left: 20px;
}

.bagian1 .one p {
  margin-left: 20px;
}

.bagian1 .one .seleng {
  margin-left: 20px;
  margin-bottom: 20px;
}

.bagian1 .width {
  width: 92.6%;
  margin-top: -15px;
  margin-bottom: -10px;
}

.bagian1 .one:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 30px;
  -webkit-box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
}

.bagian1 .two:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 30px;
  -webkit-box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
}

.bagian1 .three:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 30px;
  -webkit-box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
}

.bagian1 .two {
  margin-top: 40px;
  float: left;
  margin-right: 20px;
  width: 385px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.bagian1 .two img {
  width: 385px;
  border-radius: 3px;
}

.bagian1 .two h4 {
  margin-top: 20px;
  margin-left: 20px;
}

.bagian1 .two p {
  margin-left: 20px;
}

.bagian1 .two .seleng {
  margin-left: 20px;
  margin-bottom: 20px;
}

.bagian1 .three {
  float: left;
  margin-top: 40px;
  width: 385px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.bagian1 .three img {
  width: 385px;
  border-radius: 3px;
}

.bagian1 .three h4 {
  margin-top: 20px;
  margin-left: 20px;
}

.bagian1 .three p {
  margin-left: 20px;
  width: 90%;
}

.bagian1 .three .seleng {
  margin-left: 20px;
  margin-bottom: 20px;
}

.bagian1 .seleng {
  width: 136.3px;
  height: 37.58px;
  background: #2680EB;
  border-radius: 5px;
  border: 1px solid #2680EB;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}

.bagian1 .seleng:hover {
  opacity: 0.4;
  -webkit-transition: 0.5;
  transition: 0.5;
}

#nav-open {
  display: inline;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 30px;
  height: 25px;
  margin-left: 590px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  float: left;
}

#nav-open span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #2680EB;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-open span:nth-child(1) {
  top: 0px;
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
  -webkit-transition: 1s;
  transition: 1s;
  margin-bottom: -100px;
}

#nav-open span:nth-child(2) {
  top: 0px;
  margin-left: 15px;
  -webkit-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
  -webkit-transition: 1s;
  transition: 1s;
  margin-bottom: -100px;
}

#nav-open.open span:nth-child(1) {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

#nav-open.open span:nth-child(2) {
  background-repeat: red;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.menu-hide1 {
  width: 100%;
  height: 0;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

.menu-hide1 h3 {
  font-size: 32px;
  margin-bottom: 15px;
}

.menu-hide1 .width {
  width: 92.6%;
  margin-top: -15px;
  margin-bottom: -10px;
}

.menu-hide1 h4 {
  font-size: 22px;
  margin-top: 20px;
}

.menu-hide1 p {
  font-size: 15px;
  color: #777777;
  line-height: 23px;
}

.menu-hide1 .one {
  margin-top: 40px;
  margin-right: 20px;
  border-radius: 3px;
  float: left;
  width: 385px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.menu-hide1 .one img {
  width: 385px;
  border-radius: 3px;
}

.menu-hide1 .one h4 {
  margin-top: 20px;
  margin-left: 20px;
}

.menu-hide1 .one p {
  margin-left: 20px;
}

.menu-hide1 .one .seleng {
  margin-left: 20px;
  margin-bottom: 20px;
}

.menu-hide1 .one a {
  text-decoration: none;
  color: #000;
}

.menu-hide1 .two {
  margin-top: 40px;
  float: left;
  margin-right: 20px;
  width: 385px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.menu-hide1 .two img {
  width: 385px;
  border-radius: 3px;
}

.menu-hide1 .two h4 {
  margin-top: 20px;
  margin-left: 20px;
}

.menu-hide1 .two p {
  margin-left: 20px;
}

.menu-hide1 .two .seleng {
  margin-left: 20px;
  margin-bottom: 20px;
}

.menu-hide1 .two a {
  text-decoration: none;
  color: #000;
}

.menu-hide1 .three {
  float: left;
  margin-top: 40px;
  width: 385px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.menu-hide1 .three img {
  width: 385px;
  border-radius: 3px;
}

.menu-hide1 .three h4 {
  margin-top: 20px;
  margin-left: 20px;
}

.menu-hide1 .three p {
  margin-left: 20px;
  width: 90%;
}

.menu-hide1 .three .seleng {
  margin-left: 20px;
  margin-bottom: 20px;
}

.menu-hide1 .three a {
  text-decoration: none;
  color: #000;
}

.menu-hide1 #width {
  margin-top: 12px;
}

.menu-hide1 .one:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 30px;
  -webkit-box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
}

.menu-hide1 .two:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 30px;
  -webkit-box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
}

.menu-hide1 .three:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 30px;
  -webkit-box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
}

.menu-hide1 .seleng {
  width: 136.3px;
  height: 37.58px;
  background: #2680EB;
  border-radius: 5px;
  border: 1px solid #2680EB;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}

.menu-hide1 .seleng:hover {
  opacity: 0.4;
  -webkit-transition: 0.5;
  transition: 0.5;
}

.menu-hide1-active {
  height: 2200px;
  margin-left: 0px;
  margin-top: -439px !important;
  -webkit-transition: 1s;
  transition: 1s;
  margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 1000px;
  }
  .sear {
    margin-bottom: 0px;
    margin-left: 35px;
  }
  .bagian1 {
    margin-left: 35px;
  }
  .bagian1 .one {
    width: 47%;
  }
  .bagian1 .two {
    width: 47%;
  }
  .bagian1 .three {
    width: 47%;
  }
  .bagian1 #four {
    width: 47%;
    margin-left: 20px;
  }
  .bagian1 #five {
    width: 47%;
    margin-left: -465px;
  }
  .bagian1 #non {
    display: none;
  }
  #nav-open svg {
    margin-left: -125px;
  }
  .menu-hide1 {
    margin-left: 35px;
  }
  .menu-hide1 .one {
    width: 464.83px;
  }
  .menu-hide1 .two {
    width: 464.83px;
  }
  .menu-hide1 #lef {
    margin-left: 0px;
    margin-top: 10px;
  }
  .menu-hide1 #rig {
    margin-left: 20px;
  }
  .menu-hide1 .three {
    width: 464.83px;
  }
  .menu-hide1 #four {
    width: 464.83px;
    margin-left: 20px;
  }
  .menu-hide1 #five {
    display: none;
    width: 464.83px;
    margin-left: -465px;
  }
  .menu-hide1 #non {
    display: none;
  }
  .menu-hide1-active {
    height: 1200px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 700px;
  }
  .sear {
    margin-bottom: 0px;
    margin-left: 35px;
  }
  .bagian1 {
    margin-left: 35px;
  }
  .bagian1 .one {
    width: 47%;
  }
  .bagian1 .two {
    width: 47%;
  }
  .bagian1 .three {
    width: 47%;
  }
  .bagian1 #four {
    width: 47%;
    margin-left: 20px;
  }
  .bagian1 #no {
    display: none;
  }
  .bagian1 #pad {
    margin-left: 20px;
  }
  .bagian1 #mo {
    float: left;
    margin-top: 562px;
    margin-left: -731px;
  }
  .bagian1 #five {
    display: none;
  }
  .bagian1 #non {
    display: none;
  }
  #nav-open svg {
    margin-left: -248px;
  }
  .menu-hide1 {
    margin-left: 35px;
  }
  .menu-hide1 .one {
    width: 344.5px;
  }
  .menu-hide1 .two {
    width: 344.5px;
  }
  .menu-hide1 #lef {
    margin-left: 0px;
    margin-top: 10px;
  }
  .menu-hide1 #rig {
    margin-left: 20px;
  }
  .menu-hide1 .three {
    width: 344.5px;
    float: left;
    margin-top: 562px;
    margin-left: -731px;
  }
  .menu-hide1 #four {
    width: 344.5px;
    margin-left: 0px;
  }
  .menu-hide1 #five {
    display: none;
    width: 344.5px;
    margin-left: -465px;
  }
  .menu-hide1 #non {
    display: none;
  }
  .menu-hide1-active {
    height: 1100px;
  }
}

@media screen and (max-width: 360px) {
  .container {
    max-width: 300px;
  }
  .sear {
    margin-bottom: 0px;
    margin-left: 35px;
  }
  .sear h2 {
    font-size: 22px;
  }
  .bagian1 {
    margin-left: 35px;
  }
  .bagian1 .one {
    width: 90%;
  }
  .bagian1 .two {
    width: 90%;
  }
  .bagian1 .three {
    width: 90%;
  }
  .bagian1 #four {
    width: 90%;
    margin-left: 0px;
  }
  .bagian1 #no {
    display: none;
  }
  .bagian1 #pad {
    margin-left: 0px;
  }
  .bagian1 #mo {
    display: none;
  }
  .bagian1 #five {
    display: none;
  }
  .bagian1 #non {
    display: none;
  }
  #nav-open svg {
    margin-left: -450px;
  }
  .menu-hide1 {
    margin-left: 35px;
  }
  .menu-hide1 .one {
    width: 292.5px;
  }
  .menu-hide1 .two {
    width: 292.5px;
  }
  .menu-hide1 #lef {
    margin-left: 0px;
    margin-top: 10px;
  }
  .menu-hide1 #rig {
    margin-left: 20px;
  }
  .menu-hide1 .three {
    width: 292.5px;
    float: left;
    margin-top: 562px;
    margin-left: -731px;
  }
  .menu-hide1 #four {
    width: 292.5px;
    margin-left: 0px;
  }
  .menu-hide1 #five {
    display: none;
    width: 292.5px;
    margin-left: -465px;
  }
  .menu-hide1 #non {
    display: none;
  }
  .menu-hide1-active {
    height: 1580px;
  }
}
