html, body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: Regular;
}

a {
  display: inline-block;
  color: #2680EB;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Regular;
  src: url("../font/WorkSans-Regular.ttf");
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapp {
  margin-top: 120px;
  margin-left: 180px;
}

.wrapp h2 {
  font-size: 30px;
  margin-bottom: 14px;
  margin-left: 0px;
}

.wrapp p {
  font-size: 15px;
  margin-bottom: 35px;
  margin-left: 0px;
}

.wrapp a {
  text-decoration: none;
}

.masuk .masuk input::-webkit-input-placeholder {
  position: relative;
  font-size: 13px;
  color: #0009;
  padding-left: 10px;
  border: none;
}

.masuk .masuk input:hover::-webkit-input-placeholder {
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-left: 30px;
  font-family: Comfortaa-Light;
  color: #0009;
}

.masuk .email input {
  width: 35%;
  height: 55px;
  border-radius: 5px;
  border: 1px solid #D2D2D2;
  margin-bottom: 35px;
  padding-left: 20px;
  font-size: 15px;
}

.masuk .email input::-webkit-input-placeholder {
  position: relative;
  font-size: 15px;
  color: #0009;
  padding-left: -10px;
  border: none;
}

.masuk .email input:hover::-webkit-input-placeholder {
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-left: 20px;
  color: #0009;
}

.masuk .pswrd input {
  width: 35%;
  height: 55px;
  border-radius: 5px;
  border: 1px solid #D2D2D2;
  margin-bottom: 20px;
  padding-left: 20px;
  font-size: 15px;
}

.masuk .pswrd input::-webkit-input-placeholder {
  position: relative;
  font-size: 15px;
  color: #0009;
  padding-left: -10px;
  border: none;
}

.masuk .pswrd input:hover::-webkit-input-placeholder {
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-left: 35px;
  color: #0009;
}

.masuk .lupa a {
  color: #2680EB;
  margin-left: 291px;
}

.masuk button {
  margin-top: -20px !important;
  width: 155px;
  height: 55px;
  border-radius: 5px;
  border: 1px solid #2680EB;
  background: #2680EB;
  font-size: 15px;
  cursor: pointer;
  color: white;
  float: left;
}

.masuk button:hover {
  background: white;
  color: #2680EB;
}

.masuk .atau {
  color: #525252;
  margin-top: 22px;
}

.masuk .g {
  width: 25px;
  height: 25px;
  float: left;
  margin-top: -71px;
  margin-left: 160px;
}

.masuk .f {
  width: 25px;
  height: 25px;
  float: left;
  margin-top: -71px;
  margin-left: 10px;
}

img {
  float: right;
  width: 583px;
  height: 100vh;
  margin-top: -584px;
  position: relative;
}

.sha {
  margin-right: -583px;
}

@media screen and (max-width: 1024px) {
  .wrapp {
    margin-left: 90px;
  }
  img {
    height: 100vh;
    width: 450px;
  }
  .sha {
    margin-right: -450px;
  }
}

@media screen and (max-width: 768px) {
  img {
    display: none;
  }
  .wrapp {
    margin-left: 150px;
    margin-top: 50px;
  }
  .masuk .email input {
    width: 76%;
  }
  .masuk .pswrd input {
    width: 76%;
  }
  .masuk .lupa {
    margin-left: 75px;
  }
  .masuk .f {
    display: inline;
  }
  .masuk .g {
    display: inline;
  }
}

@media screen and (max-width: 360px) {
  img {
    display: none;
  }
  .wrapp {
    margin-left: 40px;
  }
  .wrapp h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .wrapp p {
    font-size: 16px;
    margin-bottom: 35px;
  }
  .masuk .email input {
    width: 80%;
    font-size: 16px;
  }
  .masuk .pswrd input {
    width: 80%;
    font-size: 16px;
  }
  .masuk .lupa a {
    margin-left: 145px;
  }
  .masuk .g {
    display: inline;
    width: 20px;
    height: 20px;
    margin-left: 165px;
    margin-top: -70px;
  }
  .masuk .f {
    display: inline;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-top: -70px;
  }
}
