html, body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #f8f8f8;
}

a {
  display: inline-block;
}

* {
  margin: 0;
  padding: 0;
}

.berita {
  margin-left: 55px;
  margin-top: 100px;
}

.berita h2 {
  font-size: 32px;
  text-align: center;
}

.berita .sumber {
  font-size: 15px;
  margin-top: 5px;
  text-align: center;
  margin-bottom: 30px;
}

.berita img {
  width: 1088px;
  height: 631px;
  margin-left: 5px;
  margin-bottom: 30px;
}

.berita .isi {
  font-size: 15px;
  text-align: justify;
  line-height: 23px;
}

.berita .la1 {
  width: 95.5%;
  text-align: justify;
  line-height: 23px;
}

.berita .la2 {
  width: 60%;
  text-align: justify;
  line-height: 23px;
}

.berita .love {
  width: 28px;
  height: 28px;
  margin-top: 15px;
  float: left;
  margin-left: -1px;
  cursor: pointer;
}

.berita .omen {
  width: 25px;
  height: 25px;
  float: left;
  margin-top: 17px;
  margin-left: 20px;
  margin-right: 15px;
  cursor: pointer;
}

.berita .share {
  width: 18px;
  height: 18px;
  float: left;
  margin-top: 20px;
  cursor: pointer;
}

.div2 {
  margin-bottom: 150px;
}

.div2 p {
  font-size: 23px;
  text-align: justify;
  line-height: 40px;
}

.div2 .kanan {
  float: right;
  margin-top: -1410px;
  margin-right: 100px;
}

.div2 .text {
  margin-left: 80px;
  margin-top: -21px;
  font-size: 32px;
}

.div2 .right {
  width: 70px;
  height: 3px;
  background: #2680EB;
  margin-left: 83px;
  margin-top: 15px;
}

.div2 img {
  width: 84px;
  margin-top: 30px;
  margin-bottom: 76px;
  margin-left: 83px;
}

.div2 .text1 {
  font-size: 16px;
  margin-left: 183px;
  margin-top: -155px;
  color: #000000;
}

.div2 a {
  text-decoration: none;
  color: #000000;
}

.div2 .text2 {
  font-size: 13px;
  margin-left: 185px;
  margin-bottom: -20px;
}

.div2 .kanan2 {
  margin-top: 50px;
}
