html, body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: Regular;
  background-color: #f8f8f8;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
}

.membuat {
  margin-top: 150px;
  width: 85%;
  background-color: white;
}

.membuat img {
  border-radius: 100%;
  width: 4%;
  padding: 11px;
}

.membuat p {
  color: gray;
  font-family: sf;
  position: absolute;
  margin-left: 100px;
  margin-top: -45px;
}

.kirim button {
  float: right;
  font-family: Montserrat-Bold;
  color: white;
  background-color: #415ED8;
  width: 15%;
  height: 65px;
  border: none;
  border-radius: 4px;
  margin-top: -66px;
}

.bagian1 {
  margin-top: 100px;
}

.bagian1 a {
  display: inline-block;
  margin-top: 30px;
  text-decoration: none;
  margin-left: 20px;
  color: #415ED8;
}

.bagian1 a:hover {
  border-bottom: 2px solid #415ED8;
  padding-bottom: 4px;
  -webkit-transition: 0.1	s;
  transition: 0.1	s;
}

.bagian2 {
  margin-bottom: 1500px;
  margin-top: -50px;
}

.bagian2 .berita:hover {
  -webkit-box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bagian2 .berita:hover h3 {
  margin-top: 5px;
}

.bagian2 .berita2:hover {
  -webkit-box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bagian2 .berita2:hover h3 {
  margin-top: 5px;
}

.bagian2 .berita3:hover {
  -webkit-box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bagian2 .berita3:hover h3 {
  margin-top: 5px;
}

.bagian2 .berita4:hover {
  -webkit-box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bagian2 .berita4:hover h3 {
  margin-top: 5px;
}

.bagian2 .berita {
  margin-top: 50px;
  width: 48%;
  float: left;
}

.bagian2 .berita img {
  width: 150px;
  height: 150px;
  float: left;
  border-radius: 6px;
}

.bagian2 .berita h2 {
  margin-top: 5px;
  float: left;
  width: 60%;
  margin-left: 40px;
  font-size: 22px;
}

.bagian2 .berita p {
  float: left;
  font-size: 15px;
  width: 60%;
  line-height: 25px;
  margin-left: 40px;
  margin-top: 5px;
  border-bottom: .5px solid #415ED8;
  padding-bottom: 5px;
}

.bagian2 .berita .basel {
  float: left;
  margin-left: 40px;
  width: 136.3px;
  height: 37.58px;
  margin-top: 15px;
  border: 1px solid #415ED8;
  background: #415ED8;
  color: white;
  font-family: Montserrat-Bold;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

.bagian2 .berita2 {
  margin-left: 20px;
  margin-top: 50px;
  width: 48%;
  float: left;
}

.bagian2 .berita2 img {
  float: left;
  border-radius: 6px;
}

.bagian2 .berita2 h2 {
  float: left;
  margin-left: 40px;
  margin-top: 5px;
  font-size: 22px;
}

.bagian2 .berita2 p {
  float: left;
  font-size: 15px;
  width: 60%;
  line-height: 25px;
  margin-left: 40px;
  border-bottom: .5px solid #415ED8;
  margin-top: 5px;
}

.bagian2 .berita2 .basel {
  float: left;
  margin-left: 40px;
  width: 136.3px;
  height: 37.58px;
  margin-top: 15px;
  border: 1px solid #415ED8;
  background: #415ED8;
  color: white;
  font-family: Montserrat-Bold;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

.bagian2 .berita3 {
  margin-top: 20px;
  width: 48%;
  float: left;
}

.bagian2 .berita3 img {
  float: left;
  border-radius: 6px;
}

.bagian2 .berita3 h2 {
  float: left;
  margin-left: 40px;
  margin-top: 5px;
  font-size: 22px;
}

.bagian2 .berita3 p {
  float: left;
  font-size: 15px;
  width: 60%;
  line-height: 25px;
  margin-left: 40px;
  border-bottom: .5px solid #415ED8;
  margin-top: 5px;
}

.bagian2 .berita3 .basel {
  float: left;
  margin-left: 40px;
  width: 136.3px;
  height: 37.58px;
  margin-top: 15px;
  border: 1px solid #415ED8;
  background: #415ED8;
  color: white;
  font-family: Montserrat-Bold;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

.bagian2 .berita4 {
  margin-left: 20px;
  margin-top: 20px;
  width: 48%;
  float: left;
}

.bagian2 .berita4 img {
  float: left;
  border-radius: 6px;
}

.bagian2 .berita4 h2 {
  float: left;
  margin-left: 40px;
  margin-top: 5px;
  font-size: 22px;
}

.bagian2 .berita4 p {
  float: left;
  font-size: 15px;
  width: 60%;
  line-height: 25px;
  margin-left: 40px;
  border-bottom: .5px solid #415ED8;
  margin-top: 5px;
}

.bagian2 .berita4 .basel {
  float: left;
  margin-left: 40px;
  width: 136.3px;
  height: 37.58px;
  margin-top: 15px;
  border: 1px solid #415ED8;
  background: #415ED8;
  color: white;
  font-family: Montserrat-Bold;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

.bagian2 .berita4 .profile img {
  width: 150px;
  height: 150px;
  border-radius: 6px;
}

.bagian3 {
  margin-top: 20px;
}

.bagian3 .berita:hover {
  -webkit-box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bagian3 .berita:hover h3 {
  margin-top: 5px;
}

.bagian3 .berita2:hover {
  -webkit-box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bagian3 .berita2:hover h3 {
  margin-top: 5px;
}

.bagian3 .berita3:hover {
  -webkit-box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bagian3 .berita3:hover h3 {
  margin-top: 5px;
}

.bagian3 .berita4:hover {
  -webkit-box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bagian3 .berita4:hover h3 {
  margin-top: 5px;
}

.bagian3 .berita {
  margin-top: 20px;
  width: 48%;
  float: left;
}

.bagian3 .berita img {
  width: 150px;
  height: 150px;
  float: left;
  border-radius: 6px;
}

.bagian3 .berita h2 {
  margin-top: 5px;
  float: left;
  width: 60%;
  margin-left: 40px;
  font-size: 22px;
}

.bagian3 .berita p {
  float: left;
  font-size: 15px;
  width: 60%;
  line-height: 25px;
  margin-left: 40px;
  margin-top: 5px;
  border-bottom: .5px solid #415ED8;
  padding-bottom: 5px;
}

.bagian3 .berita .basel {
  float: left;
  margin-left: 40px;
  width: 136.3px;
  height: 37.58px;
  margin-top: 15px;
  border: 1px solid #415ED8;
  background: #415ED8;
  color: white;
  font-family: Montserrat-Bold;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

.bagian3 .berita2 {
  margin-left: 20px;
  margin-top: 20px;
  width: 48%;
  float: left;
}

.bagian3 .berita2 img {
  float: left;
  border-radius: 6px;
}

.bagian3 .berita2 h2 {
  float: left;
  margin-left: 40px;
  margin-top: 5px;
  font-size: 22px;
}

.bagian3 .berita2 p {
  float: left;
  font-size: 15px;
  width: 60%;
  line-height: 25px;
  margin-left: 40px;
  border-bottom: .5px solid #415ED8;
  margin-top: 5px;
}

.bagian3 .berita2 .basel {
  float: left;
  margin-left: 40px;
  width: 136.3px;
  height: 37.58px;
  margin-top: 15px;
  border: 1px solid #415ED8;
  background: #415ED8;
  color: white;
  font-family: Montserrat-Bold;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

.bagian3 .berita3 {
  margin-top: 20px;
  width: 48%;
  float: left;
}

.bagian3 .berita3 img {
  float: left;
  border-radius: 6px;
}

.bagian3 .berita3 h2 {
  float: left;
  margin-left: 40px;
  margin-top: 5px;
  font-size: 22px;
}

.bagian3 .berita3 p {
  float: left;
  font-size: 15px;
  width: 60%;
  line-height: 25px;
  margin-left: 40px;
  border-bottom: .5px solid #415ED8;
  margin-top: 5px;
}

.bagian3 .berita3 .basel {
  float: left;
  margin-left: 40px;
  width: 136.3px;
  height: 37.58px;
  margin-top: 15px;
  border: 1px solid #415ED8;
  background: #415ED8;
  color: white;
  font-family: Montserrat-Bold;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

.bagian3 .berita4 {
  margin-left: 20px;
  margin-top: 20px;
  width: 48%;
  float: left;
}

.bagian3 .berita4 img {
  float: left;
  border-radius: 6px;
}

.bagian3 .berita4 h2 {
  float: left;
  margin-left: 40px;
  margin-top: 5px;
  font-size: 22px;
}

.bagian3 .berita4 p {
  float: left;
  font-size: 15px;
  width: 60%;
  line-height: 25px;
  margin-left: 40px;
  border-bottom: .5px solid #415ED8;
  margin-top: 5px;
}

.bagian3 .berita4 .basel {
  float: left;
  margin-left: 40px;
  width: 136.3px;
  height: 37.58px;
  margin-top: 15px;
  border: 1px solid #415ED8;
  background: #415ED8;
  color: white;
  font-family: Montserrat-Bold;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

.bagian3 .berita4 .profile img {
  width: 150px;
  height: 150px;
  border-radius: 6px;
}

.bagian4 {
  margin-top: 20px;
}

.bagian4 .berita:hover {
  -webkit-box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bagian4 .berita:hover h3 {
  margin-top: 5px;
}

.bagian4 .berita2:hover {
  -webkit-box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bagian4 .berita2:hover h3 {
  margin-top: 5px;
}

.bagian4 .berita3:hover {
  -webkit-box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bagian4 .berita3:hover h3 {
  margin-top: 5px;
}

.bagian4 .berita4:hover {
  -webkit-box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bagian4 .berita4:hover h3 {
  margin-top: 5px;
}

.bagian4 .berita {
  margin-top: 20px;
  width: 48%;
  float: left;
}

.bagian4 .berita img {
  width: 150px;
  height: 150px;
  float: left;
  border-radius: 6px;
}

.bagian4 .berita h2 {
  margin-top: 5px;
  float: left;
  width: 60%;
  margin-left: 40px;
  font-size: 22px;
}

.bagian4 .berita p {
  float: left;
  font-size: 15px;
  width: 60%;
  line-height: 25px;
  margin-left: 40px;
  margin-top: 5px;
  border-bottom: .5px solid #415ED8;
  padding-bottom: 5px;
}

.bagian4 .berita .basel {
  float: left;
  margin-left: 40px;
  width: 136.3px;
  height: 37.58px;
  margin-top: 15px;
  border: 1px solid #415ED8;
  background: #415ED8;
  color: white;
  font-family: Montserrat-Bold;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

.bagian4 .berita2 {
  margin-left: 20px;
  margin-top: 20px;
  width: 48%;
  float: left;
}

.bagian4 .berita2 img {
  float: left;
  border-radius: 6px;
}

.bagian4 .berita2 h2 {
  float: left;
  margin-left: 40px;
  margin-top: 5px;
  font-size: 22px;
}

.bagian4 .berita2 p {
  float: left;
  font-size: 15px;
  width: 60%;
  line-height: 25px;
  margin-left: 40px;
  border-bottom: .5px solid #415ED8;
  margin-top: 5px;
}

.bagian4 .berita2 .basel {
  float: left;
  margin-left: 40px;
  width: 136.3px;
  height: 37.58px;
  margin-top: 15px;
  border: 1px solid #415ED8;
  background: #415ED8;
  color: white;
  font-family: Montserrat-Bold;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

.bagian4 .berita3 {
  margin-top: 20px;
  width: 48%;
  float: left;
}

.bagian4 .berita3 img {
  float: left;
  border-radius: 6px;
}

.bagian4 .berita3 h2 {
  float: left;
  margin-left: 40px;
  margin-top: 5px;
  font-size: 22px;
}

.bagian4 .berita3 p {
  float: left;
  font-size: 15px;
  width: 60%;
  line-height: 25px;
  margin-left: 40px;
  border-bottom: .5px solid #415ED8;
  margin-top: 5px;
}

.bagian4 .berita3 .basel {
  float: left;
  margin-left: 40px;
  width: 136.3px;
  height: 37.58px;
  margin-top: 15px;
  border: 1px solid #415ED8;
  background: #415ED8;
  color: white;
  font-family: Montserrat-Bold;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

.bagian4 .berita4 {
  margin-left: 20px;
  margin-top: 20px;
  width: 48%;
  float: left;
}

.bagian4 .berita4 img {
  float: left;
  border-radius: 6px;
}

.bagian4 .berita4 h2 {
  float: left;
  margin-left: 40px;
  margin-top: 5px;
  font-size: 22px;
}

.bagian4 .berita4 p {
  float: left;
  font-size: 15px;
  width: 60%;
  line-height: 25px;
  margin-left: 40px;
  border-bottom: .5px solid #415ED8;
  margin-top: 5px;
}

.bagian4 .berita4 .basel {
  float: left;
  margin-left: 40px;
  width: 136.3px;
  height: 37.58px;
  margin-top: 15px;
  border: 1px solid #415ED8;
  background: #415ED8;
  color: white;
  font-family: Montserrat-Bold;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

.bagian4 .berita4 .profile img {
  width: 150px;
  height: 150px;
  border-radius: 6px;
}

.bagian5 {
  margin-top: 20px;
}

.bagian5 .berita:hover {
  -webkit-box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bagian5 .berita:hover h3 {
  margin-top: 5px;
}

.bagian5 .berita2:hover {
  -webkit-box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bagian5 .berita2:hover h3 {
  margin-top: 5px;
}

.bagian5 .berita3:hover {
  -webkit-box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bagian5 .berita3:hover h3 {
  margin-top: 5px;
}

.bagian5 .berita4:hover {
  -webkit-box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  box-shadow: 0 8px 20px 8px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bagian5 .berita4:hover h3 {
  margin-top: 5px;
}

.bagian5 .berita {
  margin-top: 20px;
  width: 48%;
  float: left;
}

.bagian5 .berita img {
  width: 150px;
  height: 150px;
  float: left;
  border-radius: 6px;
}

.bagian5 .berita h2 {
  margin-top: 5px;
  float: left;
  width: 60%;
  margin-left: 40px;
  font-size: 22px;
}

.bagian5 .berita p {
  float: left;
  font-size: 15px;
  width: 60%;
  line-height: 25px;
  margin-left: 40px;
  margin-top: 5px;
  border-bottom: .5px solid #415ED8;
  padding-bottom: 5px;
}

.bagian5 .berita .basel {
  float: left;
  margin-left: 40px;
  width: 136.3px;
  height: 37.58px;
  margin-top: 15px;
  border: 1px solid #415ED8;
  background: #415ED8;
  color: white;
  font-family: Montserrat-Bold;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

.bagian5 .berita2 {
  margin-left: 20px;
  margin-top: 20px;
  width: 48%;
  float: left;
}

.bagian5 .berita2 img {
  float: left;
  border-radius: 6px;
}

.bagian5 .berita2 h2 {
  float: left;
  margin-left: 40px;
  margin-top: 5px;
  font-size: 22px;
}

.bagian5 .berita2 p {
  float: left;
  font-size: 15px;
  width: 60%;
  line-height: 25px;
  margin-left: 40px;
  border-bottom: .5px solid #415ED8;
  margin-top: 5px;
}

.bagian5 .berita2 .basel {
  float: left;
  margin-left: 40px;
  width: 136.3px;
  height: 37.58px;
  margin-top: 15px;
  border: 1px solid #415ED8;
  background: #415ED8;
  color: white;
  font-family: Montserrat-Bold;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

.bagian5 .berita3 {
  margin-top: 20px;
  width: 48%;
  float: left;
}

.bagian5 .berita3 img {
  float: left;
  border-radius: 6px;
}

.bagian5 .berita3 h2 {
  float: left;
  margin-left: 40px;
  margin-top: 5px;
  font-size: 22px;
}

.bagian5 .berita3 p {
  float: left;
  font-size: 15px;
  width: 60%;
  line-height: 25px;
  margin-left: 40px;
  border-bottom: .5px solid #415ED8;
  margin-top: 5px;
}

.bagian5 .berita3 .basel {
  float: left;
  margin-left: 40px;
  width: 136.3px;
  height: 37.58px;
  margin-top: 15px;
  border: 1px solid #415ED8;
  background: #415ED8;
  color: white;
  font-family: Montserrat-Bold;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

.bagian5 .berita4 {
  margin-left: 20px;
  margin-top: 20px;
  width: 48%;
  float: left;
}

.bagian5 .berita4 img {
  float: left;
  border-radius: 6px;
}

.bagian5 .berita4 h2 {
  float: left;
  margin-left: 40px;
  margin-top: 5px;
  font-size: 22px;
}

.bagian5 .berita4 p {
  float: left;
  font-size: 15px;
  width: 60%;
  line-height: 25px;
  margin-left: 40px;
  border-bottom: .5px solid #415ED8;
  margin-top: 5px;
}

.bagian5 .berita4 .basel {
  float: left;
  margin-left: 40px;
  width: 136.3px;
  height: 37.58px;
  margin-top: 15px;
  border: 1px solid #415ED8;
  background: #415ED8;
  color: white;
  font-family: Montserrat-Bold;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

.bagian5 .berita4 .profile img {
  width: 150px;
  height: 150px;
  border-radius: 6px;
}
