html, body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #f8f8f8;
}

a {
  display: inline-block;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.bg1 {
  background-image: url("../image/Group71.jpg");
  margin-top: -145px;
  height: 800px;
  width: 1500px;
  clear: both;
  background-size: cover;
  margin-left: -150px;
}

.bg2 {
  margin-top: -420px;
  margin-bottom: 250px;
}

.bg2 h4 {
  color: white;
  font-size: 40px;
  margin-left: 110px;
}

.bg2 p {
  color: white;
  font-size: 18px;
  margin-left: 110px;
  line-height: 27px;
}

.bg2 .basel {
  width: 168px;
  height: 53px;
  background-color: #2680EB;
  border-radius: 5px;
  color: white;
  border: 1px solid #2680EB;
  margin-top: 40px;
  margin-left: 110px;
  cursor: pointer;
}

.bg2 .basel123 {
  width: 168px;
  height: 53px;
  background-color: #2680EB;
  border-radius: 5px;
  color: white;
  border: 1px solid #2680EB;
  margin-top: 100px;
  margin-left: 110px;
  cursor: pointer;
}

.bg3 {
  margin-bottom: 100px;
  margin-left: 55px;
}

.bg3 .one {
  margin-top: 50px;
  margin-right: 20px;
  float: left;
}

.bg3 .two {
  margin-top: 50px;
  margin-right: 20px;
  float: left;
}

.bg3 .three {
  margin-top: 50px;
}

.bg3 h3 {
  font-size: 32px;
  margin-bottom: 15px;
}

.bg3 h4 {
  font-size: 22px;
  margin-top: 20px;
}

.bg3 p {
  font-size: 15px;
  color: #777777;
  line-height: 23px;
}

.bg3 .seleng {
  width: 136.3px;
  height: 37.58px;
  background: #2680EB;
  border-radius: 5px;
  border: 1px solid #2680EB;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}

.bg3 .seleng1 {
  width: 136.3px;
  height: 37.58px;
  background: none;
  border-radius: 5px;
  border: 1px solid #000000;
  margin-top: 20px;
  margin-left: 470px;
  margin-top: 50px;
  cursor: pointer;
}

.bg3 .seleng1:hover {
  background: #2680EB;
  border: 1px solid #2680EB;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bg4 {
  margin-left: 55px;
}

.bg4 h3 {
  font-size: 32px;
  margin-bottom: 15px;
}

.bg4 .h5 {
  margin-left: 180px;
  margin-top: -160px;
  font-size: 16px;
}

.bg4 p {
  margin-left: 180px;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 8.5px;
}

.bg4 .dua {
  color: #777777;
  font-size: 15px;
}

.bg4 .vid {
  margin-top: 50px;
  float: left;
  cursor: pointer;
}

.bg4 .ov {
  float: left;
  margin-top: 50px;
  margin-left: 15px;
}

.bg4 .tv {
  margin-top: 225px;
  margin-left: -376px;
  float: left;
}

.bg4 .thv {
  margin-top: 400px;
  margin-left: -379px;
  float: left;
}

.bg4 .link {
  margin-top: 8.2px;
  cursor: pointer;
  font-size: 12px;
  margin-left: 180px;
}

.bg4 .link a {
  text-decoration: none;
  color: #2680EB;
}

.bg4 .txt {
  margin-left: 721px;
  margin-top: -55px;
  font-size: 32px;
}

.bg4 .left1 {
  float: left;
  position: relative;
  width: 100px;
  height: 2px;
  background: #2680EB;
  margin-left: 30px;
  margin-top: -2px;
  margin-bottom: 30px;
}

.bg4 .os {
  float: left;
  margin-left: 35px;
  margin-top: 20px;
  cursor: pointer;
}

.bg4 .ts {
  float: left;
  margin-top: 20px;
  margin-left: 35px;
  cursor: pointer;
}

.bg4 .ths {
  float: left;
  margin-top: 20px;
  margin-left: 35px;
  cursor: pointer;
}

.bg4 .fs {
  float: left;
  margin-top: 20px;
  margin-left: 35px;
  cursor: pointer;
}

.bg4 .fis {
  float: left;
  margin-top: 20px;
  margin-left: 36px;
  cursor: pointer;
}

.bg4 .txt1 {
  font-size: 16px;
  margin-left: 100px;
  margin-top: -80px;
}

.bg4 .txt2 {
  font-size: 13px;
  margin-left: 100px;
}

.bg4 .seleng3 {
  width: 136.3px;
  height: 37.58px;
  background: none;
  border-radius: 5px;
  border: 1px solid #000000;
  margin-top: 245px !important;
  margin-left: -575px;
  cursor: pointer;
  float: left;
}

.bg4 .seleng3:hover {
  background: #2680EB;
  border: 1px solid #2680EB;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bg5 {
  margin-top: 671px !important;
  margin-left: 55px;
  margin-bottom: 700px;
}

.bg5 h3 {
  font-size: 32px;
  margin-bottom: 15px;
}

.bg5 .k1 {
  margin-top: 50px;
  margin-right: 20px;
  float: left;
}

.bg5 .k2 {
  float: left;
  margin-right: 20px;
  margin-top: 50px;
}

.bg5 .k3 {
  float: left;
  margin-top: 50px;
}

.bg5 .k4 {
  margin-top: 20px;
  margin-right: 20px;
  float: left;
}

.bg5 .k5 {
  float: left;
  margin-right: 20px;
  margin-top: 20px;
}

.bg5 .k6 {
  float: left;
  margin-top: 20px;
}

.bg5 .seleng4 {
  width: 136.3px;
  height: 37.58px;
  background: none;
  border-radius: 5px;
  border: 1px solid #000000;
  margin-top: 290px !important;
  margin-left: -605px;
  cursor: pointer;
  float: left;
}

.bg5 .seleng4:hover {
  background: #2680EB;
  border: 1px solid #2680BE;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bg6 {
  margin-bottom: 580px;
  margin-left: 55px;
}

.bg6 h3 {
  font-size: 32px;
  margin-bottom: 15px;
}

.bg6 p {
  line-height: 27px;
}

.bg6 .bulat {
  margin-left: 130px;
  margin-top: -45px;
  margin-bottom: 40px;
}

.bg6 .ard {
  color: #777777;
  font-size: 16px;
  margin-left: 5px;
  text-align: center;
}

.bg6 .ar {
  font-size: 22px;
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 5px;
}

.bg6 .left {
  border: 1px solid none;
  width: 349px;
  height: 290px;
  margin-top: 100px;
  background-color: white;
  float: left;
  margin-right: 30px;
}

.bg6 .center {
  border: 1px solid none;
  width: 349px;
  height: 290px;
  margin-top: 100px;
  background-color: white;
  float: left;
  margin-right: 30px;
}

.bg6 .right {
  border: 1px solid none;
  width: 349px;
  height: 290px;
  margin-top: 100px;
  background-color: white;
  float: left;
}

.bg6 .selengka {
  margin-top: 454px;
  width: 136.3px;
  height: 37.58px;
  background: none;
  border-radius: 5px;
  border: 1px solid #000000;
  margin-left: -605px;
  cursor: pointer;
  float: left;
}

.bg6 .selengka:hover {
  background: #2680EB;
  border: 1px solid #2680BE;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
